
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <br />
    <center>
        <img src="~/img/logo.png">
    </center>
    <br />
    <center><h1><u><i>Trabajo Final II Unidad</i></u></h1></center>
</head>
<body>
    <div>
        <br />
        <center>
            <h1><u><i>Integrantes: </i></u></h1>
            <h2>- Percy Taquila Carazas</h2>
            <h2>- Katerin Merino Quispe</h2>
        </center>
        <br />
        <br />
        <br />
        <br />
        <h2>          
                3. Utilizando LINQ y BD, desarrollar un realizar el calculo de porcentajes de acuerdo a la
                siguiente tabla:
                Tener en cuenta que debe con la siguiente información que sirva como información
                previa.                      
        </h2>
        <h2>• Plan de Estudios</h2>
        <h2>• Resultados del Estudiante y criterios de desempeño</h2>
        <h4>
            <i>
                Nota: tener en cuenta que no necesariamente todos lo cursos del plan de estudios son
                evaluados obligatoriamente cada semestre académico
            </i>
        </h4>
        <center>
            <img src="~/img/ejercicio3.png">
        </center>
        <br />
        <center><a href="../Ejercicio3/Index" target="_blank">Desarrollo></a></center>
        <br />
    </div>
</body>
</html>
